<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Asian</key>
	<dict>
		<key>VietNam</key>
		<dict>
			<key>flag</key>
			<string>vietnam</string>
			<key>detail</key>
			<integer>81000000</integer>
			<key>wiki</key>
			<string>http://vi.wikipedia.org/wiki/Vi%E1%BB%87t_Nam</string>
		</dict>
		<key>Laos</key>
		<dict>
			<key>flag</key>
			<string>laos</string>
			<key>detail</key>
			<integer>40000000</integer>
			<key>wiki</key>
			<string>http://vi.wikipedia.org/wiki/L%C3%A0o</string>
		</dict>
		<key>Indo</key>
		<dict>
			<key>flag</key>
			<string>indo</string>
			<key>detail</key>
			<integer>30000000</integer>
			<key>wiki</key>
			<string>http://vi.wikipedia.org/wiki/Indonesia</string>
		</dict>
		<key>Philipin</key>
		<dict>
			<key>flag</key>
			<string>philipin</string>
			<key>detail</key>
			<integer>25000000</integer>
			<key>wiki</key>
			<string>http://vi.wikipedia.org/wiki/Philippines</string>
		</dict>
	</dict>
	<key>EU</key>
	<dict>
		<key>France</key>
		<dict>
			<key>flag</key>
			<string>france</string>
			<key>detail</key>
			<integer>60000000</integer>
			<key>wiki</key>
			<string>http://vi.wikipedia.org/wiki/France</string>
		</dict>
		<key>Italy</key>
		<dict>
			<key>flag</key>
			<string>italy</string>
			<key>detail</key>
			<integer>40000000</integer>
			<key>wiki</key>
			<string>http://vi.wikipedia.org/wiki/Italy</string>
		</dict>
		<key>England</key>
		<dict>
			<key>flag</key>
			<string>england</string>
			<key>detail</key>
			<integer>100000000</integer>
			<key>wiki</key>
			<string>http://vi.wikipedia.org/wiki/Anh</string>
		</dict>
		<key>Spain</key>
		<dict>
			<key>flag</key>
			<string>spain</string>
			<key>detail</key>
			<integer>65000000</integer>
			<key>wiki</key>
			<string>http://vi.wikipedia.org/wiki/Spain</string>
		</dict>
	</dict>
</dict>
</plist>
